@media screen and (max-width:1400px) {
    .navigation {
        flex-direction: column;
        justify-content: center;
    }

    .nav-left {
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
    }

    /* .nav-left ul {
        padding-left: 65px;
    } */

    .logo a img {
        height: 50%;
        width: 30%;
    }
}

@media screen and (max-width: 1280px) {

    .content-right {
        display: none;
    }

    .home-article {
        display: flex;
        text-align: justify;
        width: 100%;
    }


    /* .home-article-img {
        text-align: center;
    } */

    .row {
        display: flex;
        align-content: space-around;
        flex-direction: column;
    }

}


@media screen and (max-width: 912px) {

    .home-article {
        text-align: justify;
        display: flex;
        margin: 15px 50px;
        flex-direction: column;
    }

    .home-article img {
        width: 100%;
    }
    .home-article-content {
        text-align: justify;

    }

    .home-article-content a {
        text-decoration: none;
        color: black;
        text-align: center;
    }

    .post-img img {
        width: auto;
        height: 50%;
    }

    .post-img {
        margin-bottom: -120px;
    }
    .blog-content h1 {
        text-align: center;
        font-size: 40px;
        margin: 3vw -2vw;
    }
    .blog-content p {
        font-size: 18px;
        text-align: justify;
        margin-inline: -67px;
    }

    .foot-note {
        font-weight: bold;
        display: flex;
        justify-content: center;
        margin: 9px -70px;
        font-size: 18px;
    }
    .foot-note div {
        padding: 4px;
        padding-right: 7px;
    }
    .nav-menu {
        display: none; /* Hide by default on smaller screens */
        flex-direction: column;
        background-color: var(--main-bg-color);
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .nav-menu.show {
        display: flex; /* Show when .show class is added */
    }

    .nav-toggle {
        display: block; /* Show hamburger icon */
    }

    .contact-content h1 {
        padding-left: 5vw;
    }

    .form-box input, textarea {
        padding: 3px;
        width: 50vw;
        margin: 4px;
        font-family: var(--font-1);
        font-size: 18px;
        border-radius: 10px;
        text-align: center;
        border: 2px solid black;
    }
    .m-x1 {
        margin-left: 16vw;
    }

}