* {
    margin: 0;
    padding: 0;
}

.navigation {
    
    margin-top: 25px;;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-1);
}

.nav-left {
    font-size: 32px;
    font-weight: bold;
    display: flex;

}


.nav-left ul li {
    list-style: none;
    font-family: var(--font-2);
    margin: 0 14px
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: normal;
}

.nav-left ul li a:hover {
    color: white;
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-right form{
    padding-bottom: 25px;
}

.content {
    height: 100%;
    /* background-color: rgb(145, 247, 247); */
    display: flex;
    margin-top: 32px;
    margin-bottom: 25px;
    /* color: white; */
    position: relative;
    
}

.content::after{
    content: "";
    background-image: url('../image/11.svg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    z-index: -1;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

}

.content-right {

    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 206px;
    width: 300px;
}

.home-articles {
    padding: 18px;
    background-color: var(--main-bg-color1);
    margin-top: 25px;;
   

}
/* .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33%,1fr));
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-items: baseline;
}

.home-article {
     display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    box-sizing: border-box; 
    padding: 10px; 
    text-align: justify;
} */

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Initially 3 columns */
    gap: 20px; /* Adjust the gap between items */
}

.home-article {
    padding: 20px;
    text-align: center;
}

.home-article img {
    width: 100%;
}

.home-article-content{
    align-self: center;
}
.home-article-content a{
    text-decoration: none;
    color: black;
    
}
.home-article-content a :hover{
    color: var(--main-bg-color);
    font-weight: bolder;
    cursor: pointer;
    
}

.footer {
    height: 100;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 15px;

}

.footer a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.logo a img{
    height: 125px;
    width: 100%;;
}