@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --main-bg-color: #af0c8b;
    --main-bg-color1: #FAF6F1;
    --font-1:'Roboto', sans-serif;
    --font-2:'Alegreya', cursive;
}

.font1{
    font-family: var(--font-1);
}

.font2{
    font-family: var(--font-2);
}

h2{
    text-align: center;;
}
.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 40vw;
}

.m-auto {
    margin: auto;
}

.m-x1{
    margin-left: 21vw;
}

.btn {
    background-color: white;
    padding: 7px 14px;
    font-family: var(--font-2);
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #5faad4;;
    transition:all 0.3s ease-in-out;
}
.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
}
.form-input {
    padding: 7px 14px;
    border: 2px solid black;
    border-radius: 16px;
    margin: 0 10px;
    font-family: var(--font-2);
    font-size: 16px;
}
.form-input:hover{
    border: 3px solid;
    border-color:  var(--main-bg-color);
}
.form-box input, textarea{
    padding: 3px;
    width: 40vw;
    margin: 6px;
    font-family: var(--font-1);
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid black;
}
.form-box input:hover{
    border: 3px solid var(--main-bg-color);
    
}
.form-box textarea:hover{
    border: 3px solid var(--main-bg-color);   
}

.nav-toggle {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s, opacity 0.3s;
}

/* Navigation menu styling */
.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    font-size: 15px;
}

.nav-menu li {
    margin-right: 15px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
/* .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(33.33% - 20px);
    gap: 20px;
    margin-left: auto;
} */
.row {
    display: flex;
    /* width: calc(33.33% - 20px); */
    /* gap: 20px; */
    /* margin-left: auto; */
    /* justify-content: space-between; */
    align-items: center;
}

body{
    background-color: var(--main-bg-color1);
}