:root{
    --main-bg-color   : red;
}
.max-width-1{
    max-width: 60vw;
}

.max-width-2{
    max-width: 30vw;
}

.m-auto{
    margin: auto;
}

.btn{
    background-color:  #a1fe14;
    border-radius: 0.1vw;
}